*{
    margin: 0px;
    padding: 0px;
}
#game{
    width: 90vw;
    background-color: rgb(54, 52, 52);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#tools, #screen, #instructions{
    margin: auto;
    display: flex;
}
#instructions, #tools{
    width: 90vw;
    height: 5vw;
    background-color: rgb(199, 193, 186);
    justify-content: center;
    align-items: center;
}
#tools{
    gap: 5px;
    flex-direction: column;
}
#screen{
    justify-content: center;
    flex-wrap: wrap;
    width: 40vw;
    height: 40vw;
}
#instructions{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.colorButton, #reset{
 width: 70px;
 height:30px;
 margin: 5px;
}
/* #resizeButton{

} */