#game{
    width: 90vw;
    height: 90vh;
    background-color: rgb(192, 42, 42);
    margin: auto;
}
#tools, #screen, #instructions{
    width: 90%;
    margin: auto;
}
#instructions, #tools{
    height: 10%;
    background-color: rgb(199, 193, 186);
}
#screen{
    height: 80%;
    background-color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#instructions{
    text-align: center;
}